@model IEnumerable<Order>

@{
    ViewBag.Title = "Заказы";
}

<h2>@ViewBag.Title</h2>
@*<div style="padding: 1rem 0 1rem">
    <a asp-area="AdminPanel" asp-controller="Products" asp-action="Create" class="btn btn-sm btn-primary" >Добавить продукт</a>
</div>*@
<table class="table">
    <tr>
        <th>Имя пользователя</th>
        <th>Сумма заказа</th>
        <th>Метод расчета</th>
        <th>Статус заказа</th>
        <th></th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.User.UserName</td>
            <td>@order.GrandTotal</td>
            <td>@order.PaymentMethod</td>
            <td>@order.Status</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-area="AdminPanel" asp-action="Get" asp-route-orderId="@order.Id">Подробнее</a>
            </td>
        </tr>
    }
</table>