@using static MyShop.Areas.AdminPanel.Helpers.NavigationIndicatorHelper

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a asp-controller="Home" asp-action="Index" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hi, @User.Identity.Name?.Split('@').FirstOrDefault()</a>
                </div>
            </div>
        }
        else
        {
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hi, Visitor</a>
                </div>
            </div>
        }


        <!-- SidebarSearch Form -->
        @*<div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>*@

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("Home", "Index")">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Домой</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="AdminPanel" asp-controller="Products" asp-action="Index" class="nav-link @Url.MakeActiveClass("Products", "Index")">
                        <i class="nav-icon fas fa-shopping-basket"></i>
                        <p>Товары</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="AdminPanel" asp-controller="Categories" asp-action="Index" class="nav-link @Url.MakeActiveClass("Categories", "Index")">
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>Категории</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="AdminPanel" asp-controller="Order" asp-action="Index" class="nav-link @Url.MakeActiveClass("Order", "Index")">
                        <i class="nav-icon fas fa-address-book"></i>
                        <p>Заказы</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="AdminPanel" asp-controller="Users" asp-action="Index" class="nav-link @Url.MakeActiveClass("Users", "Index")">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Пользователи</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="AdminPanel" asp-controller="Roles" asp-action="Index" class="nav-link @Url.MakeActiveClass("Roles", "Index")">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Роли</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-cog"></i>
                        <p>Характеристики</p>
                        <i class="right fas fa-angle-left"></i>
                    </a>
                    <ul class="nav nav-treeview" style="display: none;">
                        <li class="nav-item">
                            <a asp-area="AdminPanel" asp-controller="Screen" asp-action="Index" class="nav-link @Url.MakeActiveClass("Roles", "Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Экран</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="AdminPanel" asp-controller="Processor" asp-action="Index" class="nav-link @Url.MakeActiveClass("Roles", "Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Процессор</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="AdminPanel" asp-controller="Memory" asp-action="Index" class="nav-link @Url.MakeActiveClass("Roles", "Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Память</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="AdminPanel" asp-controller="Housing" asp-action="Index" class="nav-link @Url.MakeActiveClass("Roles", "Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Корпус</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="AdminPanel" asp-controller="Battery" asp-action="Index" class="nav-link @Url.MakeActiveClass("Roles", "Index")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Аккамулятор</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>