@model IEnumerable<Battery>

@{
    ViewBag.Title = "Батареи";
}

<h2>@ViewBag.Title</h2>
<div style="padding: 1rem 0 1rem">
    <a asp-area="AdminPanel" asp-controller="Battery" asp-action="Create" class="btn btn-sm btn-primary" >Добавить батарею</a>
</div>
<table class="table">
    <tr>
        <th>Тип аккумулятора</th>
        <th>Емкость аккумулятора</th>
        <th>Макс. время работы</th>
        <th></th>
    </tr>
    @foreach (var battery in Model)
    {
        <tr>
            <td>@battery.Type</td>
            <td>@battery.Capacity</td>
            <td>@battery.MaxWorkingHours</td>
            <td>
                <form asp-action="Delete" asp-route-id="@battery.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@battery.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>