@model MyShop.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Изменение продукта";
}

<h2>Изменение продукта</h2>
<form asp-area="AdminPanel" asp-action="Edit" asp-controller="Products">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id"/>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input type="text" asp-for="Name" value="@Model.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Slug" class="control-label"></label>
        <input type="text" asp-for="Slug" value="@Model.Slug" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Summary" class="control-label"></label>
        <input type="text" asp-for="Summary" value="@Model.Summary" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input type="text" asp-for="Description" value="@Model.Description" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice" class="control-label"></label>
        <input type="number" asp-for="UnitPrice" value="@Model.UnitPrice" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="UnitsInStock" class="control-label"></label>
        <input type="number" asp-for="UnitsInStock" value="@Model.UnitsInStock" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label"></label>
        <input type="file" asp-for="ImageFile" value="@Model.ImageFile" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Categories" class="control-label"></label>
        <select asp-for="CategoryId">
            @foreach (var item in Model.Categories)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary"/>
    </div>
</form>
